{% extends "auctions/layout.html" %}

{% block title %}Create listing{% endblock %}
{% block body %}

    <h2>Create Listing</h2>
    <br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} 
                <div>
                    {{ field }}
                </div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit">
    </form>

{% endblock %}